/*CSS Reset*/
body,head,nav,main,footer,h1,div,img,ul{
    margin: 0;
    padding:0;
    border: 0; 
}

body{
    background-color:beige
}

img{
    max-width: 100%;
    display: block;
}

/*Style Rules for Mobile Viewport*/

nav{
    padding:1%;
    Margin-bottom: 1%
}

/*Style Rules for Header*/
header{
    width: 25%;
    float: left;
    margin: 3em 0 0 2em;
}

nav{
    width: 70%;
    float: right;
    margin: 5em 3em 0 0;

}

nav ul{
    list-style-type: none;
    text-align: center;
}

nav li{
    display: inline-block;
    font-size: 1.75em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav li a{
    display: block;
    color:olive;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;

}
/*Show mobile class, hide tablet-desktop class*/
.mobile{
    display: block;
    column-width: 100px;
}

.tablet-desktop{
    display: none;
}


main{
    clear: left;
    background-color:beige;
    padding: 2%;
    font-size: 1.25em;
}

.column-container{
    column-count:2;
    column-gap:40px;
}
.column-container p {
    margin: 0 0 1em 0; 
}

.image-container{
    display: flex;
    justify-content: space-around;
}
.side-image{
    width: 30%
}

footer p{
    font-size: 0.75em;
    text-align: center;
    color:olive;
    padding: 0 1em;
}

